<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="charset" content="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}Admin - QR Attendance{% endblock title %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<!-- <link rel="manifest" href="/site.webmanifest"> -->
	<link rel="stylesheet" href="/admin/static/style.css">
	<!-- Latest compiled and minified CSS -->
	<link href="/admin/static/bootstrap@5.0.2/bootstrap.min.css" rel="stylesheet">
	<!-- Latest compiled JavaScript -->
	<script src="/admin/static/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/htmx.org@1.8.4"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/admin/static/js/qrcode.min.js"></script>
</head>
<body>
	{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-3">
		<div class=" mx-5 py-2">
			<a class=" h1 font-bolder text-white" href="{{url_for('index')}}">
				<img src="https://cdn-icons-png.flaticon.com/512/741/741835.png" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
				<span class="d-inline-block align-top">Attend</span>
			</a>
		</div>
		<div class="nav-item">
			<a class="nav-link px-3 py-1 btn btn-outline-light" href="{{url_for('logout')}}">Logout</a>
		</div>
	</nav>
	{% endblock nav %}
	<main>
		<div class="row" style="height:100vh;">
			<div class="sidebar col-2 bg-dark text-white h-100">
				<div class="figure mx-3 text-center my-5">
					<p class="h3">Welcome,</p>
					<p class="h5">{{session['username']}}</p>
				</div>
				<ul class="navbar-nav mx-3">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('dashboard.admin')}}">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('dashboard.takeAttendance')}}">Take Attendance</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('dashboard.courses')}}">Course Management</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">View Attendance Records</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Help</a>
					</li>
				</ul>
			</div>
			<div class="container col-9 p-5">
				<div class="d-block mx-auto">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul class=flashes>
								{% for message in messages %}
									<li class="alert alert-info">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
				</div>
			{% block body %}					
						<div class="row gx-md-5">
							<div class="col-md-3 shadow rounded m-3">
								<div class="d-block d-flex ">
									<div class="d-inline bg-success">

									</div>
									<div class="d-inline p-4 text-center">
										<div class="d-block h4">TOTAL STUDENTS</div>
										<div class="d-block h2">{{student_count}}</div>
									</div>
								</div>
							</div>
							<div class="col-md-3	shadow rounded m-3">
								<div class="d-block d-flex">
									<div class="d-inline bg-succcess"></div>
									<div class="d-inline p-4 text-center">
										<div class="d-block h4">TOTAL COURSES</div>
										<div class="d-block h2">{{courses}}</div>
									</div>
								</div>
							</div>
							<div class="col-md-3	shadow rounded m-3">
								<div class="d-block d-flex">
									<div class="d-inline bg-succcess"></div>
									<div class="d-inline p-4 text-center">
										<div class="d-block h4">TOTAL ATTENDANCES</div>
										<div class="d-block h2">{{courses}}</div>
									</div>
								</div>
							</div>

							<div class="row mx-auto px-3">
								<div class="col-md-9 shadow">
									<div>
										<canvas id="barChart"></canvas>
									</div>
								</div>
								<div class="col-md-3 shadow">
									<div>
										<canvas id="pieChart"></canvas>
									</div>
								</div>
							</div>
							  
						</div>
			{% endblock body %}
			</div>
		</div>
	</main>
	{% block modals %}
		<!-- Modal -->
		<div class="modal fade" id="add-course" tabindex="-1" role="dialog" aria-labelledby="add-course" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="addCourseTitle">

				</h5>
				<button type="button" class="close border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close">
					<span class=""aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<form hx-post="{{url_for('dashboard.courses')}}" hx-target="#addCourseTitle" hx-trigger="submit" class="form p-3">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type="text" name="title" placeholder="Course-Title" class="form-control my-2">
						<input type="text" name="code" placeholder="Course-Code" class="form-control my-2">
						<input type="submit" name="submit" value="Add Course" class="form-control btn btn-primary mt-4">
					</form>
				</div>
			</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="edit-course" tabindex="-1" role="dialog" aria-labelledby="edit-course" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="editCourseTitle">

				</h5>
				<button type="button" class="close border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close">
					<span class=""  aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<form hx-post="{{ url_for('dashboard.editCourse', id=request.cookies.get('courseID', 0) ) }}" hx-target="#editCourseTitle" hx-trigger="submit" class="form p-3">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type="text" name="title" placeholder="Course-Title" class="form-control my-2 title">
						<input type="text" name="code" placeholder="Course-Code" class="form-control my-2 code">
						<input type="submit" name="submit" value="Edit Course" class="form-control btn btn-primary mt-4">
					</form>
				</div>
			</div>
			</div>
		</div>
		<script>
				var editModal = document.getElementById('edit-course');
				editModal.addEventListener('show.bs.modal', function (event) {
					// Button that triggered the modal
					var button = event.relatedTarget
					// Extract info from data-bs-* attributes
					var title = button.getAttribute('data-bs-title'),
					code = button.getAttribute('data-bs-code'),
					identity = button.getAttribute('data-bs-id');
					// If necessary, you could initiate an AJAX request here
					// and then do the updating in a callback.
					//
					// Update the modal's content.
					var modalBodyTitle = editModal.querySelector('.modal-body .title'),
						modalBodyCode = editModal.querySelector('.modal-body .code'),
						modalBodyFormLink = editModal.querySelector('.modal-body form');

					modalBodyTitle.value = title;
					modalBodyCode.value = code;
					modalBodyFormLink.setAttribute('hx-post', location.hostname+":"+window.location.port+`/admin/courses/edit/`+identity);
				});

		</script>
	{% endblock modals %}

	{% block footer %}
	<footer class="footer mt-5 pt-5">
		<div class="text-center">
			<p>Developed by Ranken&trade;</p>
		</div>
	</footer>
	{% endblock footer %}
	<script src="/admin/static/js/chart.js" defer></script>
</body>
</html>