<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="charset" content="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}QR Attendance{% endblock title %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn-icons-png.flaticon.com/512/741/741835.png">
	<!-- <link rel="manifest" href="/site.webmanifest"> -->
	<link rel="stylesheet" href="/static/style.css">
	<!-- Latest compiled and minified CSS -->
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<!-- Latest compiled JavaScript -->
	<script src="/static/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
	{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class=" mx-5 py-2">
			<a class=" h1 font-bolder text-white" href="{{url_for('index')}}">
				<img src="https://cdn-icons-png.flaticon.com/512/741/741835.png" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
				<span class="d-inline-block align-top">Attend</span>
			</a>
		</div>
	</nav>
	{% endblock nav %}
	<main>
		<div class="d-block w-50 mx-auto">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
							<li class="alert alert-info">{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	{% block body %}
		<section class="p-5 mb-5" style="height:75vh;">
			<div class="row mt-4 mx-auto g-5 justify-content-center">
				<div class="col-md-4">
					<div class="card action-tile">
						<a class="h1" href="{{ url_for('addStudent') }}">
							<div class="card bg-success">
								<div class="card-header text-white">Create Profile</div>
								<div class="card-body mx-auto">
									<img class="" src="https://icons.iconarchive.com/icons/streamlineicons/streamline-ux-free/512/user-female-add-icon.png" alt="" width=256 height=256>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card action-tile">
						<a class="h1" href="{{ url_for('view_profile') }}">
							<div class="card bg-primary">
								<div class="card-header text-white">View Profile</div>
								<div class="card-body mx-auto">
									<img src="https://images.squarespace-cdn.com/content/v1/5def1d7dcf6d8468d82174d3/1584082698236-DGWT7KHY7NGRVHEF91OH/Artboard+34.png?format=500w" alt="" width=256 height=256>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="d-block text-center">
				<p class="mx-auto my-5 align-items-center h4">Are you an Admin?&nbsp;<a href="{{url_for('login')}}" class="btn btn-outline-primary">Login &RightArrow;</a></p>
			</div>
		</section>
	{% endblock body %}
	</main>
	{% block footer %}
	<footer class="footer mt-5 pt-5">
		<div class="text-center">
			<p>Developed by Ranken&trade;</p>
		</div>
	</footer>
	{% endblock footer %}
</body>
</html>