{% extends 'index.html' %}

{% block body %}
<div class="d-block p-5">
    <div class="d-flex justify-content-center align-items-center p-5 mx-auto mx-lg-5 px-lg-5 flex-lg-wrap">
        <input
         type="search" 
         hx-get="{{url_for('view_student')}}"
         hx-target="#results"
         hx-trigger="search"
         
        class="form-control p-3 rounded flex-grow-1" name="mat" placeholder="Enter a Valid Matriculation Number" id="mat">
        <button class="btn btn-primary btn-lg mx-3" id="view">View</button>
        <script>
            htmx.on("#view", "click", function(e){ 
                htmx.trigger("#mat", "search");
            });
        </script>
    </div>
    <div class="d-block border-1 mx-auto mx-sm-1" id="results">
            <figure class="text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/4419/4419547.png" class="img-thumbnail" alt="Seach Icon">
                <figcaption class="text-muted">No Search Results</figcaption>
            </figure>
    </div>
</div>
{% endblock body %}